<div class="container">

    <md-button class="add animate-show-hide md-fab" ng-hide="edited" aria-label="Add" ng-click="showAddPanel($event)">
        <md-tooltip md-direction="top">Add Contact</md-tooltip>
        <md-icon icon="add" class="addIcon">+</md-icon>
    </md-button>


    <div class="row">

        <md-content layout-padding>

                <md-toolbar class="md-theme-light">
                        <h2 class="md-toolbar-tools">
                          <span>Phonebook</span>
                        </h2>
                      </md-toolbar>

            <h2 class="md-title">Search contacts</h2>
            <md-input-container class="md-block" style="margin:10px;">
                <input ng-model="$ctrl.query" type="text" class="form-control transparent" placeholder="Search for...">
            </md-input-container>
        </md-content>


    </div>
    <div class="row">
        <md-content layout-padding>

            <h2 class="md-title">My Contacts <span hg-cloak>({{contacts.length}})</span></h2>
        </md-content>
    </div>

    <div class="row">
        <md-content layout-padding>

            <md-list>

                <div class="contactWrapper" ngScrollbar>
                <div ng-repeat="person in contacts | filter: $ctrl.query">

                    <md-list-item class="noright" ng-click="editDetails($index+1)">
                    <img alt="{{ person.name }}" ng-src="/assets/images/avatar-default.png" class="md-avatar" />
                    <p>{{ person.name }}</p>


                    </md-list-item>

                    <md-content id="{{person.$id}}" ng-show="showEditPanel($index+1, person)" class="animate-show-hide edit-panel" md-theme="docs-dark" layout-gt-sm="row" layout-padding>

                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="person.name" required/>
                        </md-input-container>

                        <md-input-container>
                            <label>Phone</label>
                            <input ng-model="person.phone" required />
                        </md-input-container>
                        <md-card-actions layout="row" layout-align="end center">

                            <md-button ng-click="saveContact(person)">Save</md-button>
                            <md-button class="md-raised md-warn" ng-click="removeContact($event, person)">Delete</md-button>

                        </md-card-actions>

                    </md-content>

                    <md-divider ng-if="!$last"></md-divider>

                </div>

            </div>
            </md-list>

        </md-content>

        <md-content ng-show="loader" layout-padding>

        <div class="loader">
            <p>{{loaderMessage}}</p>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </md-content>
    </div>
    <div style="visibility: hidden">
        <div class="add md-dialog-container" id="myStaticDialog">
            <md-dialog>
                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                        <span>ADD NEW CONTACT</span>
                    </h2>
                </md-toolbar>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="new.name" required/>
                        </md-input-container>

                        <md-input-container>
                        <label>Phone</label>
                        <input ng-model="new.phone" required />
                        </md-input-container>
                        <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="addContact()" ng-disabled="!(new.name && new.phone)">Save</md-button>

                    </md-card-actions>

                </md-content>

            </md-dialog>
        </div>
    </div>

</div>
