/*!
	YOARTHFU
	APP STYLESHEET, ANIMATIONS KEYS, PRIVATE WEBFONTS
*/

//@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "vendor/angular-material.scss";
html,
body {
	background-color: #333;
    height: 100%;
    overflow: hidden;
    padding:0!important;
    margin:0!important;
    color: #222;
/*
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
*/
    .container-fluid {
        height: 100%;
		.content {
			height:100%;
		}

    }
}

.phonebook.container {
    width:100%;
    max-width:640px;
	position:relative;
    margin:0 auto;
    height: 100%;
    .container {
        height: 100%;
		background-color:#fff;

    }
}
.add {
    opacity: 1;
	bottom:5%;
	right:5%;
	position:absolute!important;

    &.animate-show-hide.ng-hide {
        opacity: 0;
    }
    &.animate-show-hide.ng-hide-add,
    &.animate-show-hide.ng-hide-remove {
        transition: all linear 0.5s;
    }
	.addIcon{
		margin-top:-8px;
	}
}
.contactWrapper {
	height:400px;
}
.edit-panel {
    opacity: 1;
    height: 170px;
    overflow: hidden;
    &.animate-show-hide.ng-hide {
        opacity: 0;
        height:0;
    }
    &.animate-show-hide.ng-hide-add,
    &.animate-show-hide.ng-hide-remove {
        transition: all linear 0.15s;
    }
}
